[user]
	email = chaspy@users.noreply.github.com
	name = kondo takeshi

[push]
  default = current

[alias]
  st = status
  sh = show
  co = checkout
  ad = add
  cm = commit
  pl = !git pull && git delete-merged-branches
  br = branch -a
  df = diff
  ps = push
  ft = !git fetch -p && git delete-merged-branches
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

[core]
  quotepath = false
  preloadindex = true
  fscache = true
  attributesfile = ~/.gitattributes
[gc]
  auto = 256

[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[url "git://github.com/"]
	insteadOf = https://github.com/

[diff "xlsx"]
  binary = true
  textconv = $GOPATH/bin/git-xlsx-textconv

[ghq]
  root = ~/go/src
#[pager]
#  log = diff-highlight | less
#  show = diff-highlight | less
#  diff = diff-highlight | less
[diff]
	compactionHeuristic = true
[fetch]
	prune = true
[pull]
	ff = only
