[user]
	email = chaspy@users.noreply.github.com
	name = kondo takeshi

[push]
  default = current

[alias]
  st = status
  sh = show
  co = checkout
  ad = add
  cm = commit
  pl = pull
  br = branch -a
  df = diff
  ps = push
  ft = fetch -p
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

[core]
  quotepath = false
  preloadindex = true
  fscache = true
  attributesfile = ~/.gitattributes
[gc]
  auto = 256
[url "https://"]
  insteadOf = git://
[diff "xlsx"]
  binary = true
  textconv = $GOPATH/bin/git-xlsx-textconv

[ghq]
  root = ~/go/src/github.com
