"*":
  "exception-reporting":
    userId: "573e859d-6f76-4d76-ab5e-6bb3680fee13"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-light-ui"
      "base16-tomorrow-light-theme"
    ]
    disabledPackages: [
      "linter"
      "linter-ruby"
    ]
  editor:
    invisibles: {}
  "recent-finder": {}
  autosave:
    enabled: true
  "atom-beautify":
    _analyticsUserId: "19df0b4a-072b-4cbe-ae4a-b48a9cd12327"
  "tree-view":
    hideVcsIgnoredFiles: true
